---
id: checkbox
title: Checkbox
---
import { PropsTable } from '@site/src/components';

# Checkbox

Компонент для выбора одной или нескольких опций/значений из списка.
В отличие от Radiobox, позволяет выбирать множественные значения.

Работает с состоянием: `checked`, `unchecked`, `indeterminate`.

## Быстрый старт

```tsx
import { Checkbox } from '@salutejs-ds/{{ packageName }}';
```

Компонент может содержать `label` и `description`.

:::info
Свойства `description` и `label` могут принимать JSX элементы.
:::

```tsx live
import React from 'react';
import { Checkbox } from '@salutejs-ds/{{ packageName }}';

export function App() {
    return (
        <div>
            <Checkbox label="Label" description="Description" />
            <Checkbox label="Label" description="Description" defaultChecked />
        </div>
    );
}
```

## Примеры

### Свойство `view`

:::caution Устаревшие значения
Все значения отличные от `accent` являются `deprecated` и будут удалены в ближайшее время!
:::

Значением по-умолчанию является `accent`.

```tsx live
import React from 'react';
import { Checkbox } from '@salutejs-ds/{{ packageName }}';

export function App() {
    return (
        <div className="flex-container">
          <Checkbox view="accent" label="Label" description="Description"/>
        </div>
    );
}
```

### Свойство `size`

```tsx live
import React from 'react';
import { Checkbox } from '@salutejs-ds/{{ packageName }}';

export function App() {
    const { sizeList } = useMockComponentProps();

    return (
        <div className="flex-container">
          {
            sizeList.map((size) => (
              <Checkbox key={size} size={size} label={`Size: ${size}`} description="Description"/>
            ))
          }
        </div>
    );
}
```

### Состояние `Indeterminate`

Имеет приоритет и не зависит от свойства `checked`

```tsx live
import React from 'react';
import { Checkbox } from '@salutejs-ds/{{ packageName }}';

export function App() {
    return (
        <Checkbox label="Чекбокс" description="Описание" defaultChecked indeterminate checked={false} />
    );
}
```

## API

<PropsTable name="Checkbox" />
